@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --inter: "Inter", sans-serif;
  --white: #fff;
  --primary: #161b22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

body {
  height: 300px;
  width: 250px;
  background: var(--primary);
}

button,
.close {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 25;
}

.color-modal {
  position: fixed;
  z-index: 20;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding: 20px 0px;
  transition: all 0.3s ease-in-out forwards;
}

.get-colors {
  padding: 0 24px;
  height: 40px;
  background: var(--primary);
  border: none;
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.close {
  top: 12px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  color: var(--white);
  border-radius: 50%;
  background: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.close,
.get-colors:hover {
  cursor: pointer;
}

.color-element {
  display: flex;
}

.token {
  height: 10px;
  width: 12px;
  margin: 10px 0 8px 15px;
  background: var(--bg);
}

.color-code {
  width: 260px;
  padding: 5px 0 5px 6px;
  color: var(--white);
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 4px;
}
